<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <!--        <link href="../theme/css/bootstrap.min.css" rel="stylesheet">-->
        <link href="../theme/css/bootstrap-yeti.min.css" rel="stylesheet">
        <link href="../theme/css/main.css" rel="stylesheet">
        <!--        <link href="../theme/css/bootstrap-theme.min.css" rel="stylesheet">-->
        <script src="../theme/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../">Moveez</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Add New Movie</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <input class="form-control col-lg-8" type="text" placeholder="Search By Movie Name">
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="banner" class="header-block">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Moveez</h1>
                        <p class="lead">Find Your Movie Details</p>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>

            <!-------Div for movie details --------->
            <div class="col-lg-6" style="width:80%;">
                <div class="well sponsor" style="overflow: auto;">
                    <span style="float: left; margin-right: 15px;">
                        <img width="175" height="180" src="../img/darkknight.jpg">
                    </span>
                    <h4 style="margin-bottom: 0.4em;font-size: 25px;">Dark Knight (2008)</h4>
                    <div class="clearfix">
                        <h6><strong>Description:</strong>When Batman, Gordon and Harvey Dent launch an assault on the mob, they let the clown out of the box, the Joker, 
                            bent on turning Gotham on itself and bringing any heroes down to his level.</h6>
                        <h6><strong>Stars:</strong> Christian Bale, Heath Ledger, Aaron Eckhart</h6>
                        <h6><strong>Director:</strong> Christopher Nolan</h6>
                    </div>
                </div>
            </div>

            <!------End of div-------------------------->
            
            
            
        </div>
    </body>
</html>
