<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <!--        <link href="../theme/css/bootstrap.min.css" rel="stylesheet">-->
        <link href="../theme/css/bootstrap-yeti.min.css" rel="stylesheet">
        <link href="../theme/css/main.css" rel="stylesheet">
        <!--        <link href="../theme/css/bootstrap-theme.min.css" rel="stylesheet">-->
        <script src="../theme/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-----Header this is repetive. I will later use tiles ------------>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../">Moveez</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="./moviedetail.view">Home</a>
                        </li>
                        <li>
                            <a href="#">Add New Movie</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <input class="form-control col-lg-8" type="text" placeholder="Search By Movie Name">
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="banner" class="header-block">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Moveez</h1>
                        <p class="lead">Find Your Movie Details</p>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <!-----------------------End of repetitive header------------------------------------------------>

            <div class="row">
                <div class="col-lg-6 width-increased-60">
                    <div class="well bs-component">
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>Add Movie</legend>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="inputMovieName">Movie Name</label>
                                    <div class="col-lg-10">
                                        <input id="inputMovieName" class="form-control" type="text" placeholder="Movie Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="inputStarsName">Stars</label>
                                    <div class="col-lg-10">
                                        <input id="inputStarsName" class="form-control" type="text" placeholder="Stars">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="inputDirectorName">Director</label>
                                    <div class="col-lg-10">
                                        <input id="inputDirectorName" class="form-control" type="text" placeholder="Stars">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="inputDescription">Description</label>
                                    <div class="col-lg-10">
                                        <input id="inputDescription" class="form-control" type="text" placeholder="Brief Detail">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="inputReleasedYear">Released Year</label>
                                    <div class="col-lg-10">
                                        <input id="inputYear" class="form-control" type="text" placeholder="Released Year">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="inputImage">Image</label>
                                    <div class="col-lg-10">
                                        <input id="fileInput" type="file"/>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
    </body>
</html>
